{% extends 'base.html' %}
{% block content %}


    <h2>Questions for : {{ title }}</h2>
    <form id="formHome" action="/story">
        {% for prompt in prompts %}
        <p>
            <label for="{{prompt}}">{{prompt.capitalize().replace("_" , " ")}}:</label>
                <input type="text" placeholder="{{prompt}}" name="{{prompt}}" id="{{prompt}}">
            
        </p>
        
        {% endfor %}
        <input type="hidden" name="story_id" value="{{ story_id}}">
        <button>Submit</button>
    </form>

{% endblock %}
